@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --chat-container-bg: url("../src/bg.svg");
  --chat-area-bg: #fff;
  --border: 2px solid #ddd;
  --primary-bg: #0069d9;
  --incoming-msg-bg: #0069d9;
  --outgoing-msg-bg: #32c846;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: var(--body-bg);

  /* background-color: #0069d9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2359ffda'/%3E%3Cstop offset='1' stop-color='%230069d9'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%232db4da'/%3E%3Cstop offset='1' stop-color='%230069d9'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(1000 0)'%3E%3Cg transform='translate(0 1500)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-172.8 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.15' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: 150% 150%; */
  /* background by SVGBackgrounds.com */
}

/* .content {
  height: 100vh;
} */

.chat-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
  max-width: 500px;
  border: var(--border);
  background: var(--chat-container-bg);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.chat-header a {
  color: var(--primary-bg);
}

.chatarea {
  flex: 1;
  overflow-y: auto;
  padding: 8px;
}

.chatarea::-webkit-scrollbar {
  width: 6px;
}

.chatarea::-webkit-scrollbar-track {
  background: #ddd;
}

.chatarea::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 4px;
}

.msg:last-of-type {
  margin: 0;
}

.chat-bubble {
  max-width: 270px;
  color: white;
  word-wrap: break-word;
  padding: 6px 18px;
  border-radius: 30px;
  background: var(--incoming-msg-bg);
}

.chat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.chat-info-name {
  margin-right: 5px;
  font-size: 0.75rem;
  font-weight: bold;
}

.chat-info-time {
  font-size: 0.7rem;
}

.left-msg .chat-bubble {
  border-bottom-left-radius: 5px;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .chat-bubble {
  background: var(--outgoing-msg-bg);
  color: #fff;
  border-bottom-right-radius: 5px;
}

.chat-inputarea {
  display: flex;
  border-radius: 30px;
  margin: 2px 3px;
  background: transparent;
}

.chat-inputarea * {
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  font-size: 1em;
}

.chat-input {
  width: 80%;
  background: #eee;
  margin-right: 2px;
}

.chat-input:focus {
  outline: none;
}

.chat-sendbtn {
  width: 20%;
  background: var(--outgoing-msg-bg);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* Make text unselectable */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Simple loading spinner */
.spinner {
  display: inline-block;
  width: 70px;
  height: 70px;
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  border: 8px solid #4092eb;
  border-radius: 50%;
  border-top-color: #fcfcfc;
  animation: spin 700ms linear infinite;
  -webkit-animation: spin 700ms linear infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
